.menu {
    li {
        padding: 0 0.7rem;

        a {
            color: var(--white) !important;
            text-transform: capitalize;
            font-weight: 600;
        }
    }
}

.navbar-brand {
    img {
        height: 48px;
    }
}